<div class="jumbotron">

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                method: 'GET',
                url: 'http://localhost:61022/api/values',
                contentType: 'json',
                cache:false,
                success: function (response) {
                    var str = '';
                    str += '@Html.ActionLink("Create New Employee","Create")'
                    str+='<table>'
                    $.each(response, function (i, item) {
                        var link = '@Html.ActionLink("Details", "Details", new { EmployeeId  = "_empId_"})';
                        str += '<tr>'
                        str += '<td>' + item.EmpId + '</td>'
                        str += '<td>' + item.EmpName + '</td>'
                        str += '<td>' + item.Salary + '</td>'
                        @*str += '<td>' +@Html.ActionLink("Details", "Details", new {  EmpId=item.EmpId  }) | + '</td>'*@
                        str += '<td>' + link.replace("_empId_", item.EmpId) + '</td>'
                        str += '</tr>'
                    });
                    str += '</table>'
                    $('#divContent').html(str);
                }
            })
        })
    </script>
</div>
<div id="divContent">

</div>
